<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>LiquidNews saves images from Imgur posts to your photo library when you choose Save.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.liquidnews.openStory</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.WhatTheShuck.LiquidNews</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>liquidnews</string>
			</array>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconAlt</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt60x60</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt</string>
			</dict>
			<key>AppIconAltDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAltDark60x60</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconAlt</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAlt60x60</string>
					<string>AppIconAlt76x76</string>
				</array>
				<key>CFBundleIconName</key>
				<string>AppIconAlt</string>
			</dict>
			<key>AppIconAltDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconAltDark60x60</string>
					<string>AppIconAltDark76x76</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
